@charset "UTF-8";
section#corpo{
    display: flex;
    flex-direction: column;
    & h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 30pt;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    & ul#logos{
        text-align: center;
        width: 65%;
        display:block;
        margin: auto;

        & li {
            display: inline-block;
            list-style: none;
            margin: 50px 20px 50px 20px;            
        }
    }
}
