@charset "UTF-8";

section#corpo{
    display: flex;
    flex-direction: column;

    & .cursos{
        display: flex;
        justify-content: space-around;

        /* Texto da lateral esquerda */
        & aside#lateral-01, aside#lateral-02 {
            margin-top: 50px;
            font-size: 22px;

            & ul{
                list-style: none;
            }
        }
    }
    
}